@import "bootstrap-sprockets";
@import "bootstrap";

.alejandro {
  background-image: image-url("alejandro.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
}

.btn-warning {
  background-color: #FF8C12;
  border-color: #FF8C12;
}
.btn-warning:hover {
  background-color: #FF8300;
  border-color: #FF8300;
}